.searchbar-container {
  background-color: gainsboro;
  min-height: 100vh;
}

.search-container {
  padding: 1vh;
}

.searchbar-container .contact {
  word-wrap: break-word;
  padding: 10px;
  border-bottom: 1px solid;
}

.searchbar-container .search-contact-input {
  border-radius: 30px;
}

.search-container h5 {
  text-align: center;
}