.contact-detail-container {
  background-color: #efefef;
  min-height: 100vh;
  padding: 2vw;
}

.contact-detail-container h2 {
  margin-bottom: 2rem;
}

.contact-detail-container .edit-button-container {
  display: flex;
  justify-content: flex-end;
}
