.contact-detail-container {
  background-color: #ededed;
  min-height: 100vh;
  padding: 2vw;
}

.contact-detail-container h2 {
  margin-bottom: 2rem;
}

.contact-detail-container .edit-button-container {
  display: flex;
  justify-content: flex-end;
}

.contact-detail-container .edit-button {
  border-radius: 20%;
  background-color: #afb4bc;
  border-color: #afb4bc;
  color: black;
}

.modal-body .modal-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal-input {
  width: 50%;
}

.contact-detail-container .contact-detail-display-container {
  word-wrap: break-word;
}
